/* global */
:root {
  --orange-color: #e76f51;
}

.btn-orange {
  background-color: var(--orange-color);
}

/* header section  */
header {
  background-color: #264653;
}

.light-color {
  color: #e0e0e0;
}

.orange-color {
  color: var(--orange-color);
}

/* feature section  */
hr {
  border: 2px solid var(--orange-color);
}

.bw {
  filter: grayscale(1);
}

/* news section  */

.outline-btn {
  border: 1px solid var(--orange-color);
  color: var(--orange-color);
}

.outline-btn:hover {
  color: white;
  background-color: var(--orange-color);
}

/* clients */

.fa-star {
  color: var(--orange-color);
}

.user-img {
  width: 149px;
  height: 149px;
}

.grey-text {
  color: #6c6c6c;
}

footer {
  background-color: #0b0d17;
}

footer li {
  list-style: none;
  margin-right: 1.5rem;
}

footer li,
p {
  color: white;
}
